.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  animation: 1.2s ease-in-out 2;

}

.city {
  font-size: 1.5rem;
  font-weight: bold;
}

.temp {
  font-size: 3rem;
  margin: 10px 0;
}

.desc {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #555;
}
